/* Tasks Container START */
.task-container {
  height: 100vh;
  padding: 2rem;
  overflow: auto;
}
.view-done-tasks-and-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58vw;
  padding-left: 2rem;
}
.add-task-icon {
  float: right;
  margin-right: 1.5rem;
}
/* Tasks Container END */
