/* Tasks Container START */
.task-container {
  height: 100vh;
  padding: 2rem;
}
.task-manager-heading {
  text-align: center;
}
.view-done-tasks-and-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding-left: 2rem;
  text-align: center;
}
.add-task-button-wrapper {
  text-align: center;
  margin-top: 40vh;
}
.add-task-button-wrapper > button {
  width: 20rem;
}
.add-task-icon {
  float: right;
  margin-right: 1.5rem;
}
/* Tasks Container END */

/* Add Edit Modal START */
.priority-group {
  display: flex !important;
  justify-content: space-between;
  padding: 0 1rem !important;
}
.submit-button-item {
  text-align: center;
}
.submit-button-item > button {
  width: 10rem;
}
/* Add Edit Modal END */

/* Completed Tasks Modal START  */
.no-tasks-done {
  text-align: center;
}
/* Completed Tasks Modal END */

/* View Task Modal START  */
.task-badge-and-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 2rem;
}
.task-badge-and-title-wrapper > div:first-child {
  text-transform: capitalize;
}
.task-badge-in-view-modal > .ant-badge-status-dot {
  width: 1.5rem;
  height: 1.5rem;
}
.description-view-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.description-view-modal > span {
  width: 50%;
}
.buttons-wrapper-view-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.buttons-wrapper-view-modal > button {
  width: 10rem;
}
.buttons-wrapper-view-modal > button:nth-child(2) {
  margin: 0 2rem;
}
/* View Task Modal END */
