/* Tasks Container START */
.task-container {
  height: 100vh;
  padding: 2rem;
  overflow: auto;
}
.view-done-tasks-and-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58vw;
  padding-left: 2rem;
}
.add-task-icon {
  float: right;
  margin-right: 1.5rem;
}
/* Tasks Container END */

/* Add Edit Modal START */
.priority-group {
  display: flex !important;
  justify-content: space-between;
  padding: 0 1rem !important;
}
.submit-button-item {
  text-align: center;
}
.submit-button-item > button {
  width: 10rem;
}
/* Add Edit Modal END */

/* Completed Tasks Modal START  */
.no-tasks-done {
  text-align: center;
}
/* Completed Tasks Modal END */
